<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap.min.css">

    <title>Registered user</title>
</head>
<body>
    <div class="container">
        <h1 class="container header" class="bg-dark">Hi <%= email %> </h1>
        <h1> Your password is <%= password %></h1>
    </div>
    <script>
        let email = "<%= email %>";
        console.log("Email is ",email);
    </script>
</body>
</html>